*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.menu{

    color:#fff;
    
}

.container{
    width: 400px;
    margin: auto;
    background-color: #3449;
    backdrop-filter: blur(10px);
    min-height: 60vh;
    position: relative;
    color: #fff;
    margin-top: 40px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 4px rgba(0,0,0,0.5);
}
form{
    text-align: center;
}
form h3{
    font-size: 25px;
    font-weight: 600;
}
form .inputs{
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
form .inputs.names{
    display: flex;
    flex-direction: row;
}

form .inputs .name{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    padding-left: 5px;
}
form .inputs{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 5px;
}
form .inputs .name label,
form .inputs label{
    padding-left: 5px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
}
form .inputs .name input,
form .inputs input{
    background: #e4e0e0;
    border: none;
    border-radius: 5px;
    height: 35px;
    outline: none;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}
form .submit{
    margin: 10px;
}
form .submit input{
    margin: 5px;
    width: 80%;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    background: #e4e0e0;
    border: none;
    
}
form .submit input:hover{
    background: #2d545e;
    color: #fff;
    transition: all ease-in-out .5s;
}
form .extras{
    margin-bottom: 5px;
}
form .extras a{
    text-decoration: none;
    font-size: 17px;
    border: none;
    color: rgb(142, 142, 173);
}
form .extras a:hover{
    color: rgb(71, 71, 133);
}
